@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}
#container {
  display: inline-block;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin: auto;
  border: 0px solid black;
  position:absolute; top:10%; left:50%;
  line-height: 125px;
  padding-top: -10px;
 
}

#showCarta{
  font-size: 80px;
  top: 0%;
  left: 0%;
  margin-left: 10px;


}
#showNumero{
  margin-left: 125px;
  font-size: 80px;
}
#showInverso{
bottom: 0%;
right: 0%;
font-size: 80px;
margin-left: 220px;
transform: rotate(180deg);
}

.button{
  width:120px;
  height:50px;
  background:rgb(46, 62, 90);
  color:red;
  border-radius: 18px;
  outline:none;
  margin:50px;
}


